.App {
  text-align: center;
  padding: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgba(0, 0, 128, 0.893);
  color: white;
  padding: 10px 0;
  border-radius: 6px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form-inputs  {
    display: flex;
    justify-content:space-between ;
  
}
#new-transaction{
height: 80px;
border-radius: 8px;
border: 1px solid rgb(3, 63, 87);
padding: 5px;
}

#new-transaction input {
height: 25px;
font-size: 16px;
border-radius: 5px;
border: 1px;
border-style: solid;
}

.btn{
height: 25px;
margin-top: 5px;
cursor: pointer;
border-radius: 5px;
border: 1px solid rgb(3, 63, 87)
}